<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            font-family: "Poppins", sans-serif;
        }
        .container{
            background-image: radial-gradient(circle, #ddd,#ccc,#5ac1ad, #17ad8e);
            width: 100vw;
            height: 100vh;
            /* display: block;
            margin: auto; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#f00,rgb(241, 85, 241),#17ad8e);
            clip-path: circle(15% at 68% 84%);
        }
        .container::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#17ad8e,#137dd3);
            clip-path: circle(20% at 28% 20%);
        }
        .box{
            /* display: block;
            margin: auto; */
            background-color: #17ad8e;
            background-image: linear-gradient(to left, #1bc09f, #14987e, #14826c);
            color: #fff;
            padding: 1rem;
            margin-bottom: 1rem;
            min-height: 55vh;
            width: 25vw;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 5px 5px 20px #333;
            z-index: 1;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 5rem;
        }
        .text h2{
            font-weight: 500;
        }
        .text p{
            margin-top: 0.4rem;
            margin-bottom: 1.2rem;
        }
        .container a{
            color: #fff;
            border: 1.5px solid #fff;
            background-size: 200%;
            background-image: linear-gradient(to right, #32be8f, #127d59,#32be8f);
            border-radius: 25px;
            padding: 0.3rem 0.5rem;
            text-align: center;
            text-decoration: none;
            display: block;
            width: 70%;
            transition: 0.4s;
        }
        .container a:hover{
            background-position: right;
            box-shadow: 2px 2px 5px #333;
        }
        .sign{
            height: 6rem;
            width: 6rem;
            position: relative;
            top: -4rem;
        }
        img{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <!-- <div class="sign">
                <img src="./warning_sign.webp" alt="">
            </div> -->
            <div class="text">
                <h2>Unable to Login</h2>
                <p>Sorry ! You entered wrong credentials</p>
                <a href="/loginsignup">Try Again</a>
            </div>
        </div>
    </div>
</body>
</html>